.button {
  background-color: rgba(197, 105, 209, 0.932);
  color: white;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: rgba(197, 105, 209, 0.932);
  background-color: rgba(167, 64, 180, 0.932);
  outline: none;
}

.disabled {
  background-color: grey;
}

.disabled:hover {
  background-color: grey;
}
