* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #333;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-content {
  /*  flex: 1; */
  width: 1200px;
  margin: auto;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 96px);
}

.spinnerContainer {
  min-height: calc(100vh - 96px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  margin-bottom: 45px;

  background-color: rgba(197, 105, 209, 0.932);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Para asegurarse de que esté sobre otros elementos */
}

.fixedButton:hover {
  background-color: rgba(167, 64, 180, 0.932);
  outline: none;
}
